<header id="header" class="header">
  <nav>
    <div class="nav-wrapper">
      <ul id="nav-mobile" class="left show-on-small">
        <a href="#" data-target="{{sidenav_target_name}}" class="sidenav-trigger">
          <i class="material-icons">menu</i>
        </a>
      </ul>
      <a href="/" class="brand-logo font-logo">
        <img src="{{asset "images/daria_zari_logo.png"}}" alt="Author Image" />
      </a>
      <ul id="nav-mobile" class="right hide-on-med-and-down font-featured">

        {{!--
          {{#foreach navigation}}
            <li class="nav-{{slug}} {{#if current}}active{{/if}}"><a href="{{url absolute="true"}}">{{label}}</a></li>
          {{/foreach}}
        --}}


        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/blog">Blog</a></li>
        <li><a href="/creative">Creative</a></li>
        <li><a href="#contact">Contact</a></li>
      </ul>
    </div>
  </nav>
  <div class="socual-icons-cell">
    <ul>
      <li><a class="social-icon" href="https://www.instagram.com/daria.zari">{{> instagram-icon }}</a></li>
    </ul>
  </div>
</header>
