<a href="{{url absolute="true"}}" style="min-height: {{card_height}}" class="service-card-body card-panel">
  <img style="width: 100%;" src="{{img_url feature_image size="s" absolute="true"}}" alt="{{title}}" />
  <h5 class="center-align clr-text font-title">{{title}}</h4>
  <p class="service-description">
    {{custom_excerpt}}
  </p>
</a>
